<div class="footer-fisso">

    <div class="navigazione">

        <!-- HOME -->
        <my-navlink [isCollapse]="isCollapse" [exist]="true" [link]="PAGE.DASHBOARD.ABSOLUTE._HOME"
            [icon]="'house'" [label]="'HOME'" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- GIOCA -->
        <my-navlink [isCollapse]="isCollapse" [exist]="exist" [link]="PAGE.DASHBOARD.ABSOLUTE._SCHEDE_UTENTE"
            [icon]="'stadia_controller'" [label]="'GIOCA'" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- CLASSIFICA -->
        <my-navlink [isCollapse]="isCollapse" [exist]="exist" [link]="PAGE.DASHBOARD.ABSOLUTE._CLASSIFICA"
            [icon]="'monitoring'" [label]="'CLASS.'" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- INFO -->
        <div class="colonna" data-bs-toggle="collapse" data-bs-target="#impostazioni" aria-expanded="false"
            aria-controls="impostazioni" (click)="isCollapse=!isCollapse">
            <div>
                <my-icona [name]="'settings'"></my-icona>
            </div>
            <div>
                <span class="navbar-font-label"><b>INFO</b></span>
            </div>
        </div>

    </div>

    <div class="collapse" id="impostazioni" #impostazioni>

        <my-footer *ngIf="isCollapse" data-bs-toggle="collapse" data-bs-target="#impostazioni" aria-expanded="false"
            aria-controls="impostazioni" (click)="isCollapse=false"></my-footer>
        <my-footer *ngIf="!isCollapse"></my-footer>


    </div>

</div>