 <!-- Modal -->
 <div class="modal fade" modal-dialog-centered id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
 data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="confirmModalLabel">Conferma</h5>
     </div>
     <div class="modal-body">
       <div *ngIf="message">{{message.text}}</div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
       <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
         (click)="message.confermato()">SI</button>
     </div>
   </div>
 </div>
</div>