/* vai su google font seleziona get embeded code clicca import , 
copia url di import nel browser ed è fatta, ottieni il font face */
/* latin */
@font-face {
  font-family: 'Howlimit';
  font-style: normal;
  font-weight: 400;
  src: local('Howlimit'), url('../../assets/font/Howlimit-axRO5.woff') format('woff');
}

* {
  font-family: 'Howlimit', sans-serif;
}


/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: local('Material Symbols Outlined'), url('../../assets/font/icone-google.woff2') format('woff2');
}

