
//8 px
.mt-8{
    margin-top: 8px;
}
.ml-8{
    margin-left: 8px;
}
.mr-8{
    margin-right: 8px;
}
.mb-8{
    margin-bottom: 8px;
}
.ma-8{
    margin: 8px;
}

//16 px
.mt-16{
    margin-top: 16px;
}
.ml-16{
    margin-left: 16px;
}
.mr-16{
    margin-right: 16px;
}
.mb-16{
    margin-bottom: 16px;
}
.ma-16{
    margin: 16px;
}

//24 px
.mt-24{
    margin-top: 24px;
}
.ml-24{
    margin-left: 24px;
}
.mr-24{
    margin-right: 24px;
}
.mb-24{
    margin-bottom: 24px;
}
.ma-24{
    margin: 24px;
}

//32 px
.mt-32{
    margin-top: 32px;
}
.ml-32{
    margin-left: 32px;
}
.mr-32{
    margin-right: 32px;
}
.mb-32{
    margin-bottom: 32px;
}
.ma-32{
    margin: 32px;
}

//40 px
.mt-40{
    margin-top: 40px;
}
.ml-40{
    margin-left: 40px;
}
.mr-40{
    margin-right: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.ma-40{
    margin: 40px;
}

//48 px
.mt-48{
    margin-top: 48px;
}
.ml-48{
    margin-left: 48px;
}
.mr-48{
    margin-right: 48px;
}
.mb-48{
    margin-bottom: 48px;
}
.ma-48{
    margin: 48px;
}

//56 px
.mt-56{
    margin-top: 56px;
}
.ml-56{
    margin-left: 56px;
}
.mr-56{
    margin-right: 56px;
}
.mb-56{
    margin-bottom: 56px;
}
.ma-56{
    margin: 56px;
}

//64 px
.mt-64{
    margin-top: 64px;
}
.ml-64{
    margin-left: 64px;
}
.mr-64{
    margin-right: 64px;
}
.mb-64{
    margin-bottom: 64px;
}
.ma-64{
    margin: 64px;
}

//72 px
.mt-72{
    margin-top: 72px;
}
.ml-72{
    margin-left: 72px;
}
.mr-72{
    margin-right: 72px;
}
.mb-72{
    margin-bottom: 72px;
}
.ma-72{
    margin: 72px;
}

//80 px
.mt-80{
    margin-top: 80px;
}
.ml-80{
    margin-left: 80px;
}
.mr-80{
    margin-right: 80px;
}
.mb-80{
    margin-bottom: 80px;
}
.ma-80{
    margin: 80px;
}