.pa-0{
    padding: 0px;
}

//8 px
.pt-8{
    padding-top: 8px;
}
.pl-8{
    padding-left: 8px;
}
.pr-8{
    padding-right: 8px;
}
.pb-8{
    padding-bottom: 8px;
}
.pa-8{
    padding: 8px;
}

//16 px
.pt-16{
    padding-top: 16px;
}
.pl-16{
    padding-left: 16px;
}
.pr-16{
    padding-right: 16px;
}
.pb-16{
    padding-bottom: 16px;
}
.pa-16{
    padding: 16px;
}

//24 px
.pt-24{
    padding-top: 24px;
}
.pl-24{
    padding-left: 24px;
}
.pr-24{
    padding-right: 24px;
}
.pb-24{
    padding-bottom: 24px;
}
.pa-24{
    padding: 24px;
}

//32 px
.pt-32{
    padding-top: 32px;
}
.pl-32{
    padding-left: 32px;
}
.pr-32{
    padding-right: 32px;
}
.pb-32{
    padding-bottom: 32px;
}
.pa-32{
    padding: 32px;
}

//40 px
.pt-40{
    padding-top: 40px;
}
.pl-40{
    padding-left: 40px;
}
.pr-40{
    padding-right: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.pa-40{
    padding: 40px;
}

//48 px
.pt-48{
    padding-top: 48px;
}
.pl-48{
    padding-left: 48px;
}
.pr-48{
    padding-right: 48px;
}
.pb-48{
    padding-bottom: 48px;
}
.pa-48{
    padding: 48px;
}

//56 px
.pt-56{
    padding-top: 56px;
}
.pl-56{
    padding-left: 56px;
}
.pr-56{
    padding-right: 56px;
}
.pb-56{
    padding-bottom: 56px;
}
.pa-56{
    padding: 56px;
}

//64 px
.pt-64{
    padding-top: 64px;
}
.pl-64{
    padding-left: 64px;
}
.pr-64{
    padding-right: 64px;
}
.pb-64{
    padding-bottom: 64px;
}
.pa-64{
    padding: 64px;
}

//72 px
.pt-72{
    padding-top: 72px;
}
.pl-72{
    padding-left: 72px;
}
.pr-72{
    padding-right: 72px;
}
.pb-72{
    padding-bottom: 72px;
}
.pa-72{
    padding: 72px;
}

//80 px
.pt-80{
    padding-top: 80px;
}
.pl-80{
    padding-left: 80px;
}
.pr-80{
    padding-right: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.pa-80{
    padding: 80px;
}