<div *ngIf="comp">
    <div class="card text-center text-bg-danger">
        <div class="card-header">
            ASSOCIA SQUADRE {{comp.sigla}}
        </div>
        <div class="card-body">
    
            <form  #datiForm="ngForm" (ngSubmit)="loading_btn=true;submitForm(datiForm.form.value)">
    
                <div *ngIf="!loading_btn" style="padding-top: 16px;">
                    <select class="form-select" aria-label="select"
                        name="id"  ngModel required>
                        <option *ngFor="let item of disponibili" [ngValue]="item.id">{{item.descrizione}}
                        </option>
                    </select>
                </div>

                <div *ngIf="loading_btn" style="padding-top: 16px;">
                    <select class="form-select" aria-label="select"name="idhid" >
                    </select>
                </div>

                <div style="padding-top: 16px;">
                    <select class="form-select" aria-label="select"
                        name="girone"  ngModel>
                        <option selected value="">NESSUN GIRONE</option>
                        <option *ngFor="let item of combo.lettere" [value]="item">{{item}}
                        </option>
                    </select>
                    
                </div>
    
    
                <div class="pt-16 pb-16">
                    <my-button [disabled]="!datiForm.form.valid||disponibili.length==0" [block]="true" [color]="'btn-primary'"
                        [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                    </my-button>
                </div>
    
            </form>
    
    
        </div>
    
    </div>
    
    </div>
    <div class="pt-32 pb-64">
        <div class="card-table">
    
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">VIEW</th>
                        <th scope="col">GIR</th>
                        <th scope="col">XX</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of compresi">
                        <td>{{item.id}}</td>
                        <td>{{item.descrizione}}</td>
                        <td>{{item.girone}}</td>
                        <td><i class="bi bi-trash cursore" (click)="onDeleteItem(item)" data-bs-toggle="modal"
                            data-bs-target="#confirmModal"></i></td>
                      </tr>
                    
                    </tbody>
                  </table>
              </div>
            </div>
    
    </div>
    