<div *ngIf="combo&&comp">
    <div class="card text-center text-bg-danger">
        <div class="card-header">
            CREA SCHEDA {{comp.sigla}}
        </div>
        <div class="card-body">

            <div style="padding-top: 16px;">
                <label for="selection">TIPO EVENTO DA AGGIUGERE</label>
                <select [disabled]="loading_btn" id="selection" class="form-select" (change)="onChangeTipo($event)"
                    ngModel>
                    <option *ngFor="let item of combo.categorie" value="{{item.id}}">{{item.descrizione}}
                    </option>
                </select>
            </div>


            <form *ngIf="step_view==CATEGORIA.PARTITA" #partitaForm="ngForm"
                (ngSubmit)="loading_btn=true;onSetEventoPartita(partitaForm.form.value)">

                <div style="padding-top: 16px;">
                    <label for="selection">SQUADRA DI CASA</label>
                    <select class="form-select" aria-label="Default select example" name="squadra_casa" ngModel
                        required>
                        <option *ngFor="let item of squadre" [ngValue]="item">{{item.descrizione}}
                        </option>
                    </select>
                </div>

                <div style="padding-top: 16px;">
                    <label for="selection1">SQUADRA DI TRASFERTA</label>
                    <select class="form-select" aria-label="select" name="squadra_trasferta" ngModel required>
                        <option *ngFor="let item of squadre" [ngValue]="item">{{item.descrizione}}
                        </option>
                    </select>
                </div>

                <div style="padding-top: 16px;">
                    <label for="matchDate">Data</label>
                    <input id="matchDate" class="form-control" type="date" name="data_partita" ngModel required/>
                </div>

                <div style="padding-top: 16px;">
                    <label for="matchOra">Ora (es.21:00)</label>
                    <input id="matchOra" class="form-control" type="text" name="ora_partita" ngModel required/>
                </div>

                

                <div class="pt-16 pb-16">
                    <my-button [disabled]="!partitaForm.form.valid" [block]="true" [color]="'btn-primary'"
                        [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                    </my-button>
                </div>

            </form>

            <form *ngIf="step_view==CATEGORIA.ANTEPOST" #antepostForm="ngForm"
                (ngSubmit)="loading_btn=true;onSetEventoAntepost(antepostForm.form.value)">

                <div style="padding-top: 16px;">
                    <label for="selection3">EVENTO ANTEPOST</label>
                    <select class="form-select" aria-label="select" name="antepost" ngModel required>
                        <option *ngFor="let item of eventi_antepost" [ngValue]="item">{{item.descrizione}}
                        </option>
                    </select>
                </div>


                <div class="pt-16 pb-16">
                    <my-button [disabled]="!antepostForm.form.valid" [block]="true" [color]="'btn-primary'"
                        [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                    </my-button>
                </div>

            </form>

            <form *ngIf="step_view==CATEGORIA.GIRONE" #gironeForm="ngForm"
                (ngSubmit)="loading_btn=true;onSetEventoGirone(gironeForm.form.value)">

                <div style="padding-top: 16px;">
                    <label for="selection4">AGGIUNGI GIRONE</label>
                    <select class="form-select" aria-label="select" name="girone" ngModel required>
                        <option *ngFor="let item of gironi_disponibili" [ngValue]="item">GIRONE {{item}}
                        </option>
                    </select>
                </div>

                <div style="padding-top: 16px;">
                    <label for="selection5">EVENTO GIRONE</label>
                    <select class="form-select" aria-label="select" name="evento_girone" ngModel required>
                        <option *ngFor="let item of eventi_girone" [ngValue]="item">{{item.descrizione}}
                        </option>
                    </select>
                </div>


                <div class="pt-16 pb-16">
                    <my-button [disabled]="!gironeForm.form.valid" [block]="true" [color]="'btn-primary'"
                        [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                    </my-button>
                </div>

            </form>

            <form *ngIf="step_view==CATEGORIA.ELIMINATORIE" #eliminatoriaForm="ngForm"
                (ngSubmit)="loading_btn=true;onSetEventoEliminatorie(eliminatoriaForm.form.value)">

                <div style="padding-top: 16px;">
                    <label for="selection6">SQUADRA DEL TABELLONE</label>
                    <select class="form-select" aria-label="Default select example" name="squadra" ngModel required>
                        <option *ngFor="let item of squadre" [ngValue]="item">{{item.descrizione}}
                        </option>
                    </select>
                </div>


                <div class="pt-16 pb-16">
                    <my-button [disabled]="!eliminatoriaForm.form.valid" [block]="true" [color]="'btn-primary'"
                        [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                    </my-button>
                </div>

            </form>


        </div>

    </div>

</div>


<div class="pt-32 pb-64">
    <div class="card-table">

        <div class="table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">VIEW</th>
                        <th scope="col">CATEGORIA</th>
                        <th scope="col">XX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of master">
                        <td>{{item.id}}</td>
                        <td *ngIf="item.girone&&item.categoria_id!=CATEGORIA.GIRONE">{{item.girone}}) {{item.view}}
                        </td>
                        <td *ngIf="!item.girone||item.categoria_id==CATEGORIA.GIRONE">{{item.view}}</td>
                        <td>{{item.categoria}}</td>
                        <td><i class="bi bi-trash cursore" (click)="onDeleteItem(item)" data-bs-toggle="modal"
                                data-bs-target="#confirmModal"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>