<div class="opzioni" *ngIf="!loading_page">

    <form-scheda [combo]="comboScheda" [scheda_master]="scheda_master" [scheda_selezionata]="scheda_selezionata"
        (submit)="getSchedeUtenteReload()"></form-scheda>
</div>

<div class="pt-32 pb-64">
    <div class="card card-trasparent">

        <div class="table-responsive">
            <table class="table table-striped table_trasparent">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DATA INSERIMENTO</th>
                        <th scope="col">CP</th>
                        <th scope="col">MD</th>
                        <th scope="col">XX</th>
                    </tr>
                </thead>
                <tbody *ngIf="!loading_table">
                    <tr *ngFor="let item of schede.table[idxTable]">
                        <td >{{item.id}}</td>
                        <td >{{item.tempo}}</td>
                        
                        <td ><i class="bi bi-clipboard-plus-fill cursore" (click)="onCopyItem(item)" data-bs-toggle="modal"
                            data-bs-target="#confirmModal"></i></td>
                        <td ><i class="bi bi-pencil cursore" (click)="onUpdate(item)" data-bs-toggle="modal"
                                data-bs-target="#formScheda"></i></td>
                        <td ><i class="bi bi-trash cursore" (click)="onDeleteItem(item)" data-bs-toggle="modal"
                                data-bs-target="#confirmModal"></i></td>
                    </tr>
                </tbody>
                <tbody *ngIf="loading_table">
                    <div class="pt-32 pl-16">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
        <my-pagination *ngIf="!loading_table" [data]="schede" (pag)="idxTable=$event"></my-pagination>
        <!-- pagination 
        <div *ngIf="!loading_table">
            <nav *ngIf="schede.table.length<6&&schede.table.length>0" aria-label="Page navigation example" class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li *ngFor="let item of schede.table; let i = index" (click)="idxTable=i" class="page-item cursore"
                        [ngClass]="{'active': i == idxTable}"><a class="page-link">{{i+1}}</a></li>
                    <li class="page-item" (click)="idxTable=idxTable!=schede.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
            <nav *ngIf="schede.table.length>5" aria-label="Page navigation example" class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li (click)="idxTable=0" class="page-item cursore" [ngClass]="{'active': 0 == idxTable}"><a
                            class="page-link">1</a></li>
                    <li (click)="idxTable=1" class="page-item cursore" [ngClass]="{'active': 1 == idxTable}"><a
                            class="page-link">2</a></li>
                    <li *ngIf="idxTable>1&&idxTable<schede.table.length-2" class="page-item active"><a
                            class="page-link">{{idxTable+1}}</a></li>
                    <li *ngIf="idxTable<2||idxTable>schede.table.length-3" class="page-item"><a class="page-link">..</a>
                    </li>
                    <li (click)="idxTable=schede.table.length-2" class="page-item cursore"
                        [ngClass]="{'active': schede.table.length-2 == idxTable}"><a
                            class="page-link">{{schede.table.length-1}}</a></li>
                    <li (click)="idxTable=schede.table.length-1" class="page-item cursore"
                        [ngClass]="{'active': schede.table.length-1 == idxTable}"><a
                            class="page-link">{{schede.table.length}}</a></li>

                    <li class="page-item" (click)="idxTable=idxTable!=schede.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>-->
        <!-- fine pagination -->
        <div class="pr-16 pb-16 pt-8" style="text-align:right;">

            <div class="btn-group dropstart">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    NUOVA SCHEDA
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item cursore" (click)="onInsert()" data-bs-toggle="modal"
                            data-bs-target="#formScheda">VUOTA</a></li>
                    <li><a class="dropdown-item cursore" (click)="onRandomScheda()" data-bs-toggle="modal"
                            data-bs-target="#formScheda">PRECOMPILATA</a></li>

                </ul>
            </div>


        </div>

    </div>

</div>