<div *ngIf="loading_table">
    <my-spinner></my-spinner>
</div>

<div class="fadein">


<div class="titolo-page">
    <h1>CLASSIFICA</h1>
</div>


<div class="d-grid gap-2">
    <button class="btn btn-secondary btn-lg" type="button" (click)="goToLink('http://marescafantaeuropeo.altervista.org/servizi/pdf/classifiche.php')">
        <i class="bi bi-download"></i> Formato pdf</button>
  </div>


<div class="pt-32 pb-64">
    <div class="card-trasparent">

        <div class="table-responsive">
            <table class="table table-striped table_trasparent">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">PT</th>
                        <th scope="col"></th>
                        <th scope="col">UTENTE</th>
                        <th scope="col">DATA INSERIMENTO</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="!loading_table">
                    <tr *ngFor="let item of schede.table[idxTable]">
                        <td >{{item.pos}}°</td>
                        <td>
                            <span class="testo-bold" [ngClass]="[item.stato_scheda!=STATO_SCHEDA.CONCLUSA ? 'testo-light' : 'testo-red']">{{item.punti}}</span>
                        </td>
                        <td >
                            <i *ngIf="item.pos<item.ex" class="bi bi-arrow-up-circle-fill"></i>
                            <i *ngIf="item.pos==item.ex" class="bi bi-arrow-right-circle-fill"></i>
                            <i *ngIf="item.pos>item.ex" class="bi bi-arrow-down-circle-fill"></i>
                        </td>
                        <td >{{item.utente}} {{item.id}}</td>
                        <td >{{item.tempo}}</td>
                        <td ><i class="bi bi-eye-fill cursore" (click)="onViewItem(item)"
                                data-bs-toggle="modal" data-bs-target="#formScheda"></i></td>

                    </tr>
                </tbody>
                <tbody *ngIf="loading_table">
                    <div class="pt-32 pl-16">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        <div *ngIf="!loading_table">
            <nav *ngIf="schede.table.length<6&&schede.table.length>0" aria-label="Page navigation example"
                class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li *ngFor="let item of schede.table; let i = index" (click)="idxTable=i" class="page-item cursore"
                        [ngClass]="{'active': i == idxTable}"><a class="page-link">{{i+1}}</a></li>
                    <li class="page-item" (click)="idxTable=idxTable!=schede.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
            <nav *ngIf="schede.table.length>5" aria-label="Page navigation example" class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li (click)="idxTable=0" class="page-item cursore" [ngClass]="{'active': 0 == idxTable}"><a
                            class="page-link">1</a></li>
                    <li (click)="idxTable=1" class="page-item cursore" [ngClass]="{'active': 1 == idxTable}"><a
                            class="page-link">2</a></li>
                    <li *ngIf="idxTable>1&&idxTable<schede.table.length-2" class="page-item active"><a
                            class="page-link">{{idxTable+1}}</a></li>
                    <li *ngIf="idxTable<2||idxTable>schede.table.length-3" class="page-item"><a class="page-link">..</a>
                    </li>
                    <li (click)="idxTable=schede.table.length-2" class="page-item cursore"
                        [ngClass]="{'active': schede.table.length-2 == idxTable}"><a
                            class="page-link">{{schede.table.length-1}}</a></li>
                    <li (click)="idxTable=schede.table.length-1" class="page-item cursore"
                        [ngClass]="{'active': schede.table.length-1 == idxTable}"><a
                            class="page-link">{{schede.table.length}}</a></li>

                    <li class="page-item" (click)="idxTable=idxTable!=schede.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>


    </div>

</div>
</div>
<view-scheda [record]="record"></view-scheda>

