<div *ngIf="loading_page">
  <my-spinner></my-spinner>
</div>

<div *ngIf="!loading_page" class="fadein">

  <div *ngIf="play_comp" class="titolo-page">
    <h1>{{play_comp.sigla}}</h1>
  </div>
  <div *ngIf="!play_comp" class="titolo-page">
    <h1>NESSUNA COMPETIZIONE SELEZIONATA</h1>
  </div>


  <div class="d-grid gap-2">
    <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
      aria-controls="offcanvasTop">

      <div *ngIf="!play_comp" class="display-center">
        <span class="pr-8"> Seleziona Competizione </span>
        <my-icona [name]="'back_hand'"></my-icona>
      </div>

      <div *ngIf="play_comp" class="display-center">
        <span class="pr-8"> Cambia Competizione </span>
        <my-icona [name]="'manage_history'"></my-icona>
      </div>

    </button>
  </div>


  <div class="offcanvas offcanvas-top tg-primary" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">


    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasTopLabel" style="color:white ;">COMPETIZIONI</h5>
    </div>

    <div class="offcanvas-body">
      <my-tab-scrollable *ngIf="tabs" [tabs]="tabs" (emitSelectedTab)="selectedTab($event)">
      </my-tab-scrollable>


      <div *ngFor="let num of tabs">
        <div *ngIf="tab&&num.id==tab.id">
          <div class="pt-8 pl-8" style="color: white;">
            <p>Selezionata: {{tab.titolo}}</p>
          </div>
        </div>

      </div>
      <div *ngIf="!tab">
        <div class="pt-8 pl-8" style="color: white;">
          <p>Selezionata: NESSUNA</p>
        </div>
      </div>
      <div class="pt-16 pb-8">
        <div class="offcanvas-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Annulla</button>
          <button type="button" class="btn btn-primary ml-16" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="selezionaCompetizione()">Esegui</button>
        </div>

      </div>
    </div>

  </div>
  <div class="pt-16 pb-16">
    <div class="card card-trasparent">
      <div class="card-header">{{info.dettaglio_utente.username}}</div>
      <div class="card-body pa-8">
        <ul>
          <li>
            <span class="testo-bold">Nome:</span>
            <span class="pl-8">{{info.dettaglio_utente.nome}}</span>
          </li>
          <li>
            <span class="testo-bold">Cognome:</span>
            <span class="pl-8">{{info.dettaglio_utente.cognome}}</span>
          </li>
          <li>
            <span class="testo-bold">Cellulare:</span>
            <span class="pl-8">{{info.dettaglio_utente.cellulare}}</span>
          </li>
          <li>
            <span class="testo-bold">Email:</span>
            <span class="pl-8">{{info.dettaglio_utente.email.substring(0, 20)}}..</span>
          </li>
          <li>
            <span class="testo-bold">Versato:</span>
            <span class="pl-8">{{info.dettaglio_utente.versato}}</span>
          </li>
          <li>
            <span class="testo-bold">Schede Giocate:</span>
            <ul>
              <li *ngFor="let item of info.dettaglio_utente.competizioni">
                <span class="pl-8">{{item.numero}}</span>
                <span class="pl-8">{{item.descrizione}}</span>
              </li>

            </ul>
          </li>
          <li>
            <span class="testo-bold">Posizione:</span>
            <span class="pl-8">{{info.posizione.posto}}° ({{info.posizione.punti}} pt)</span>
          </li>

        </ul>
      </div>


    </div>
  </div>

  <div class="pb-16">
    <div class="card card-trasparent">
      <div class="card-header">GRUPPO WHATSAPP</div>
      <div class="card-body">
        <div>
          <h5 class="cursore pb-8" (click)="goToLink('https://chat.whatsapp.com/KmQtXwfPePsJQyePFSfdRr')">Link gruppo
            whatsapp <span class="bi bi-whatsapp"></span></h5>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="play_comp" class="card card-trasparent">
    <div class="card-header">DETTAGLIO COMPETIZIONE</div>
    <div class="card-body">
      <h5 class="card-title">Competizione: {{play_comp.nome}}</h5>
      <h5 class="card-title">Scadenza: {{play_comp.scadenza}}</h5>

      <div>
        <table class="table table-borderless table_trasparent">
          <thead>
            <tr>
              <th scope="col">Pronostico</th>
              <th scope="col">Valore</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of info.dettaglio_comp">
              <td>{{item.view}}</td>
              <td>{{item.punti}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>