.offcanvas-body {
    padding-bottom: 0px;
}

.offcanvas-top {
    height: 40vh;
}

.offcanvas-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.titolo{
    text-align:center;
    color:aliceblue;
    padding: 8px;
}


.tg-primary {
    background-color: #344858 !important;
  }
