<div *ngIf="!loading_page" class="forms">
    <div>

        <sign-in *ngIf="view==LOGIN.SIGN_IN" (submitto)="changeView($event)"></sign-in>
        <register *ngIf="view==LOGIN.REGISTER" (submitto)="changeView($event)"></register>
        <rec-pass *ngIf="view==LOGIN.REC_PASS" (submitto)="changeView($event)" [combo]="utenti"></rec-pass>

    </div>
</div>

<div *ngIf="loading_page">

    <div class="display-center">
        <div class="col-sm-12 col-md-6">
            <img src="assets/img/welcome.webp" alt="totoTorneo" class="immagine">
        </div>
    </div>
    <my-locandina></my-locandina>
</div>