<!-- Modal -->
<div class="modal fade" id="formScheda" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="formSchedaLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formSchedaLabel">Scheda {{play_comp.sigla}}</h5>
            </div>
            <div class="modal-body pa-0">

                <div *ngIf="combo&&scheda_master.length>0" class="pt-8 pb-8">

                    <form #schedaForm="ngForm" (ngSubmit)="loading_btn=true;onPlayScheda(scheda_master)">

                        <div class="table-responsive">
                            <table class="table table-striped table-borderless table_trasparent">
                                <thead>
                                    <tr>
                                        <th scope="col">EVENTO</th>
                                        <th scope="col">RISULTATO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of scheda_master">
                                        <td  *ngIf="item.girone&&item.categoria!=CATEGORIA.GIRONE">{{item.girone}})
                                            {{item.view}} <span
                                                *ngIf="item.categoria==CATEGORIA.PARTITA"><br>{{item.data_partita}}</span>
                                        </td>
                                        <td  *ngIf="!item.girone||item.categoria==CATEGORIA.GIRONE">{{item.view}} </td>


                                        <!-- OPZIONI RISULTATI SCHEDA-->
                                        <td  *ngIf="item.categoria==CATEGORIA.PARTITA">
                                            <select [disabled]="loading_btn" class="form-select" aria-label="select"
                                                name="{{item.id}}" [(ngModel)]="item.valore" required
                                                [disabled]="item.modificabile ==  SI_NO.NO_S">
                                                <option *ngFor="let opzione of combo.partite"
                                                    [ngValue]="opzione.descrizione">
                                                    {{opzione.descrizione}}
                                                </option>
                                            </select>
                                        </td>

                                        <td 
                                            *ngIf="item.categoria==CATEGORIA.ANTEPOST&&item.gruppo!=GRUPPO_PUNTI.CAPOCANNONIERE&&item.gruppo!=GRUPPO_PUNTI.TABELLONE_COMPLETO">
                                            <select [disabled]="loading_btn" class="form-select" aria-label="select"
                                                name="{{item.id}}" [(ngModel)]="item.valore" required
                                                [disabled]="item.modificabile ==  SI_NO.NO_S">
                                                <option *ngFor="let opzione of combo.squadre"
                                                    [ngValue]="opzione.descrizione">
                                                    {{opzione.descrizione}}
                                                </option>
                                            </select>
                                        </td>
                                        <td 
                                            *ngIf="item.categoria==CATEGORIA.ANTEPOST&&item.gruppo==GRUPPO_PUNTI.CAPOCANNONIERE">
                                            <select [disabled]="loading_btn" class="form-select" aria-label="select"
                                                name="{{item.id}}" [(ngModel)]="item.valore" required
                                                [disabled]="item.modificabile ==  SI_NO.NO_S">
                                                <option *ngFor="let opzione of combo.cannonieri"
                                                    [ngValue]="opzione.descrizione">
                                                    {{opzione.descrizione}}
                                                </option>
                                            </select>
                                        </td>
                                        <td 
                                            *ngIf="item.categoria==CATEGORIA.GIRONE&&item.gruppo!=GRUPPO_PUNTI.GIRONE_COMPLETO">
                                            <select [disabled]="loading_btn" class="form-select" aria-label="select"
                                                name="{{item.id}}" [(ngModel)]="item.valore"
                                                (change)="onChangeGruppo($event,item)" required
                                                [disabled]="item.modificabile ==  SI_NO.NO_S">
                                                <option *ngFor="let opzione of combo.squadre_girone[item.girone]"
                                                    [ngValue]="opzione.descrizione">{{opzione.descrizione}}
                                                </option>
                                            </select>
                                        </td>

                                        <td 
                                            *ngIf="item.categoria==CATEGORIA.GIRONE&&item.gruppo==GRUPPO_PUNTI.GIRONE_COMPLETO">
                                            <input name="{{item.id}}" type="text" class="form-control"
                                                [(ngModel)]="item.valore" required readonly>
                                        </td>

                                        <td 
                                            *ngIf="item.categoria==CATEGORIA.ELIMINATORIE&&item.modificabile==SI_NO.SI_S">
                                            <select [disabled]="loading_btn" class="form-select" aria-label="select"
                                                name="{{item.id}}" [(ngModel)]="item.valore"
                                                (change)="onChangeTabellone($event,item)" required>
                                                <option *ngFor="let opzione of combo.tabellone"
                                                    [ngValue]="opzione.descrizione">
                                                    {{opzione.descrizione}}
                                                </option>
                                            </select>
                                        </td>

                                        <td 
                                            *ngIf="item.gruppo==GRUPPO_PUNTI.TABELLONE_COMPLETO&&item.modificabile ==  SI_NO.SI_S">
                                            <input name="{{item.id}}" type="text" class="form-control"
                                                [(ngModel)]="item.valore" required readonly>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>


                        <div class="pt-16 pb-16 pl-8 pr-8">
                            <my-button [disabled]="!schedaForm.form.valid" [block]="true" [color]="'btn-primary'"
                                [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                            </my-button>
                        </div>

                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>